@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%, 100% { transform: rotate(3deg) translateX(0); }
  25% { transform: rotate(3deg) translateX(-2px); }
  75% { transform: rotate(3deg) translateX(2px); }
}

.shake-animation {
  animation: shake .1s ease-in-out  10;
}

